body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0.1px);
}

#border {
        display: block;
        width: $banner-width;
        height: $banner-height;
        pointer-events: none;
        outline: solid 1px #000;
        outline-offset: -1px;
        z-index: 999;
    }

#banner {
    background: #fff;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    #logo {
        position: absolute;
        width:120px;
        bottom: 40px;
        left: 40px;

    }

    #cta {
        position: absolute;
        width:240px;
        height:65px;
        bottom: 200px;
        right: 40px;
        background-color: rgba(245, 204, 2, 1);
    }

    #img {
        position: absolute;
        top: 575px;
        left: 0;
        // background-color: rgba(245, 204, 2, 1);
    }
    
    #txt1a {

        clip: rect(0px,320px,320px,0px);
    }

    #grad1a {
        // background-color: rgba(19, 170, 64, 1);
        position: absolute;
        top: -950px;
        left: 0;
        width: 600px;
        // opacity: 0;
    }

    #txt1b {

        clip: rect(320px, 320px, 370px, 0px);
        // opacity: 0;
    }

    #grad1b {
        // background-color: rgba(19, 170, 64, 1);
        position: absolute;
        top: -892px;
        left: 0;
        width: 600px;
        // opacity: 0;
    }

    #txt1c {

        clip: rect(370px, 320px, 420px, 0px);
        // opacity: 0;
    }

    #grad1c {
        // background-color: rgba(19, 170, 64, 1);
        position: absolute;
        top: -842px;
        left: 0;
        width: 600px;
        // opacity: 0;
    }

    #txt1d {

        clip: rect(420px, 320px, 470px, 0px);
        // opacity: 0;
    }

    #grad1d {
        // background-color: rgba(19, 170, 64, 1);
        position: absolute;
        top: -793px;
        left: 0;
        width: 600px;
        // opacity: 0;
    }

    

}
