body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0.1px);
}

#border {
        display: block;
        width: $banner-width;
        height: $banner-height;
        pointer-events: none;
        outline: solid 1px #000;
        outline-offset: -1px;
        z-index: 999;
    }

#banner {
    background: #14AA40;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    

    #txt1a {

        clip: rect(0px,970px,112px,0px);
    }

    #grad1a {
        width: $banner-width;
        // background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: -1910px;
        left: 265px;
        // opacity:0;
    }

    #txt1b {

        clip: rect(112px, 970px, 250px, 0px);
        // opacity: 0;
    }

    #grad1b {
        width: $banner-width;
        // background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: -1844px;
        left: 265px;
        // opacity:0;
    }

    #footer {
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        height:$banner-height;

        #logo {
            position: absolute;
            width:190px;
            bottom: 30px;
            left: 30px;

        }
    }

    #cta {
        position: absolute;
        width:136px;
        height:36px;
        bottom: 30px;
        right: 30px;
        background-color: rgba(245, 204, 2, 1);
    }
    

}
