body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0.1px);
}
#border {
        display: block;
        width: $banner-width;
        height: $banner-height;
        pointer-events: none;
        outline: solid 1px #000;
        outline-offset: -1px;
        z-index: 999;
    }

#banner {
    background: #14AA40;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    

    #footer {
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        bottom: 0;
        left: 0;
        width: $banner-width;
        height:171px;

        #logo {
            position: absolute;
            width:60px;
            bottom: 20px;
            left: 20px;

        }

        #cta {
            position: absolute;
            width:120px;
            height:32px;
            bottom: 119px;
            right: 20px;
            background-color: rgba(245, 204, 2, 1);
        }
    }


    #txt1a {

        clip: rect(0px,160px,159px,0px);
    }

    #grad1a {
        // background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: -470px;
        left: 0;
        width: 300px;
        // opacity: 0;
    }

    #txt1b {

        clip: rect(164px, 160px, 186px, 0px);
        // opacity: 0;
    }

    #grad1b {
        // background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: -443px;
        left: 0;
        width: 300px;
        // opacity: 0;
    }

    #txt1c {

        clip: rect(192px, 160px, 213px, 0px);
        // opacity: 0;
    }

    #grad1c {
        // background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: -416px;
        left: 0;
        width: 300px;
        // opacity: 0;
    }

    #txt1d {

        clip: rect(219px, 160px, 243px, 0px);
        // opacity: 0;
    }

    #grad1d {
        // background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: -389px;
        left: 0;
        width: 300px;
        // opacity: 0;
    }

    #txt1e {

        clip: rect(249px, 160px, 271px, 0px);
        // opacity: 0;
    }

    #grad1e {
        // background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: -362px;
        left: 0;
        width: 300px;
        // opacity: 0;
    }

    #txt1f {

        clip: rect(273px, 160px, 298px, 0px);
        // opacity: 0;
    }

    #grad1f {
        // background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: -335px;
        left: 0;
        width: 300px;
        // opacity: 0;
    }

}
