body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
    position: absolute;
    top: 0;
    left: 0;
}

.grad {
    position: absolute;
    top: -403px;
    left: 0;
}

#banner {
    background: #14AA40;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    #border {
        display: block;
        width: $banner-width;
        height: $banner-height;
        pointer-events: none;
        outline: solid 1px #000;
        outline-offset: -1px;
        z-index: 999;
    }

    #footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #cta {
        position: absolute;
        width:133px;
        height:35px;
        bottom: 40px;
        right: 20px;
        background-color: rgba(245, 204, 2, 1);
    }

    #txt1a-container {
        // background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 70px;
        left: 0;
        width: $banner-width;
        height: $banner-height;
        overflow: hidden;

        #txt1a {
            transform: translate3d(0, 0, 0.1px);
            position: absolute;
            top: -70px;
            left: 0;
            clip: rect(0px,300px,165px,0px);
        }
    }

    #txt1b-container {
        // background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 143px;
        left: 0;
        width: $banner-width;
        height: $banner-height;
        overflow: hidden;
        // opacity:0;

        #txt1b {
            transform: translate3d(0, 0, 0.1px);
            position: absolute;
            top: -143px;
            left: 0;
            clip: rect(165px,300px,330px,0px);
        }
    }

    #txt1c-container {
        // background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 226px;
        left: 0;
        width: $banner-width;
        height: $banner-height;
        overflow: hidden;
        // opacity:0;

        #txt1c {
            transform: translate3d(0, 0, 0.1px);
            position: absolute;
            top: -226px;
            left: 0;
            clip: rect(165px,300px,330px,0px);
        }
    }

    #txt1d-container {
        // background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 307px;
        left: 0;
        width: $banner-width;
        height: $banner-height;
        overflow: hidden;
        // opacity:0;

        #txt1d {
            transform: translate3d(0, 0, 0.1px);
            position: absolute;
            top: -307px;
            left: 0;
            clip: rect(330px,300px,600px,0px);
        }
    }

    

}
